<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
	<title>Item App</title>
	<style>
		
	</style>
	<script src="https://unpkg.com/vue@next"></script> <!-- https://v3.vuejs.org/guide/installation.html#cdn -->
	<!-- <script src="vue.js"></script> -->
</head>
<body>
	<h1>Item App</h1>
	<div id="app">
		<button data-action="updateItem" @click="updateItem">updateItem</button>
		<h2>Attend</h2>
		<form @submit.prevent="addItem">
			<input name="name" v-model="item.user_id" placeholder="user_id">
			<input name="notes" v-model="item.keywords" placeholder="keywords">
			<input name="name" v-model="item.description" placeholder="description">
			<input name="notes" v-model="item.image" placeholder="image">
			<input name="name" v-model="item.lat" placeholder="lat">
			<input name="notes" v-model="item.lon" placeholder="lon">
			<button data-action="addItem">Add Item</button>
		</form>
		<span>{{urlAPI}}</span>

		<h2>Responses</h2>
		<span>{{itemsList}}</span>
		<ul>
			<li v-for="item in itemsList">
					<span>{{item.id}}</span>
					<span>{{item.user_id}}</span>
					<span>{{item.keywords}}</span>
					<span>{{item.description}}</span>
					<span>{{item.image}}</span>
					<span>{{item.lat}}</span>
					<span>{{item.lon}}</span>
					<button data-action="delete" @click="deleteItem(item.id)">Remove</button>
				</li>
			</li>
		</ul>

	</div>
<script type="module">
	const urlParams = new URLSearchParams(window.location.search);
	const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');
	const RootComponent = {
	  data() {
		return {
			urlAPI,
			item: {
				user_id: '',
				keywords: '',
				description: '',
				image:'',
				lat:'',
				lon:'',
			},
			itemsList:[],
		}
	},
	  created() {
		this.clearInput()
		this.updateItem()
	  },
	  methods: {
		updateItem() {
			fetch(`${urlAPI}/items`, {
				method:'GET'
			})
				.then(response => response.json())
				.then(data => this.itemList = data)
			.catch(err => console.error(err))
		},
		clearInput() {
			this.item = {...this.item, ...{
				user_id:'',
				keywords: '',
				description:'' ,
				image:'',
				lat: '',
				lon:'',
				date_from:'',
				date_to:''
			}}
		},
		addItem() {
			fetch(`${urlAPI}/item`, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(this.item),
			})
				.then(response => response.json())
				.then(()=>this.clearInput())
				.then(()=>this.updateItem())
			.catch(err => console.error(err));
		},
		deleteItem(id) {
			fetch(`${urlAPI}/item/${id}`, {
				method: 'DELETE',
			})
				.then(()=>this.updateItem())
			.catch(err => console.error(err));
		}
	  },
	}
	const app = Vue.createApp(RootComponent)
	const vm = app.mount('#app')
</script>

</body>
</html>



